* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  .navbar {
    background: #FFFDFC;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    grid-area: na;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #navbar__logo {
    background-color: #000000;
    background-image: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #707070;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 768px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #FFFDFC;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: black;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
  /* Huvudsida Section */
    
    .hero {
      background: url(../img/rosahus.jpg) no-repeat center / cover;
      padding: 130px 0;
      background-repeat: none;
      background-size: 100%;
      grid-area: he;
    }
    
    .hero__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      height: 90%;
      text-align: center;
      padding: 30px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .hero__heading {
      font-size: 100px;
      margin-bottom: 24px;
      color: #FFFDFC;
    }
    
    .hero__heading span {
      background: #fdd2c7;
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -mo-text-fill-color: transparent;
    }

    .huvudsida_1 {
      width: 100%;
      height: 530px;
      max-width: 100%;
      display: flex;
    }
    
    .left_12 {
      width: 45%;
      height: 300px;
      background: url(../img/hus.jpg) no-repeat center / cover;
      border-radius: 8px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 40px;
      display: flex;
      justify-content: center
    }
    
    .right_12 {
      width: 60%;
      height: 200px;
      background-color: rgb(101, 189, 99);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 240px;
    }
    
    .left_13 {
      width: 45%;
      height: 300px;
      background: url(../img/hus.jpg) no-repeat center / cover;
      border-radius: 8px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 40px;
      margin-right: 40px;
      display: flex;
      justify-content: center;
    }
    
    .right_13 {
      width: 60%;
      height: 200px;
      background-color: rgb(189, 178, 99);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 240px;
    }
    
    .huvudsida_2 {
      width: 100%;
      height: 530px;
      max-width: 100%;
      display: flex;
    }
    
    .left_14 {
      width: 45%;
      height: 300px;
      background: url(../img/hus.jpg) no-repeat center / cover;
      border-radius: 8px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 40px;
      display: flex;
      justify-content: center
    }
    
    .right_14 {
      width: 60%;
      height: 200px;
      background-color: rgb(101, 189, 99);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 240px;
    }
    
    .left_15 {
      width: 45%;
      height: 300px;
      background: url(../img/hus.jpg) no-repeat center / cover;
      border-radius: 8px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 40px;
      margin-right: 40px;
      display: flex;
      justify-content: center;
    }
    
    .right_15 {
      width: 60%;
      height: 200px;
      background-color: rgb(189, 178, 99);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 240px;
    }
    
    @media screen and (max-width: 768px) {
      .hero__heading {
        font-size: 60px;
      }

      .hero {
      background-repeat: none;
      background-size: 100%;
      padding: 0px;
      }

      .huvudsida_1 {
        height: 780px;
        flex-direction: column;
        width:100%;
        margin: 0 auto;
        background: #F0F5F7;
      }
    
      .left_12 {
        width: 90%;
        height: 200px;
        margin-top: 60px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
    
      .right_12 {
        width: 60%;
        height: 150px;
        margin: 0;
        min-height: 10px;
        margin-top: 150px;
        margin-bottom: 20px;
    
      }
    
      .left_13 {
        width: 90%;
        height: 200px;
        margin-top: 150px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
    
      .right_13 {
        width: 60%;
        height: 150px;
        margin: 0;
        min-height: 10px;
        margin-top: 150px;
        margin-bottom: 20px;
      }
    
      .huvudsida_2 {
        height: 750px;
        flex-direction: column;
        width:100%;
        margin: 0 auto;
        background: #F0F5F7;
      }
    
      .left_14 {
        width: 90%;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
    
      .right_14 {
        width: 60%;
        height: 150px;
        margin: 0;
        min-height: 10px;
        margin-top: 150px;
        margin-bottom: 20px;
    
      }
    
      .left_15 {
        width: 90%;
        height: 200px;
        margin-top: 150px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
    
      .right_15 {
        width: 60%;
        height: 150px;
        margin: 0;
        min-height: 10px;
        margin-top: 150px;
        margin-bottom: 20px;
      }
    }
  
/* Att uppleva section */

.header_2 {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attuppleva_1 {
  width: 100%;
  height: 530px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #86B1CD;
}

.left_21 {
  width: 90%;
  height: 500px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.right_21 {
  width: 50%;
  min-height: 400px;
  background-color: #002F46;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
  margin-right: 20px;
}

.right_21 h1 {
  font-size: 40px;
  font-weight: lighter;
}

.right_21 p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.attuppleva_2 {
  width: 100%;
  height: 530px;
  max-width: 100%;
  display: flex;
  background: #F0F5F7;
}

.left_22 {
  width: 45%;
  height: 300px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center
}

.right_22 {
  width: 60%;
  height: 200px;
  background-color: rgb(101, 189, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
}

.left_23 {
  width: 45%;
  height: 300px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
}

.right_23 {
  width: 60%;
  height: 200px;
  background-color: rgb(189, 178, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
}

.attuppleva_3 {
  width: 100%;
  height: 530px;
  max-width: 100%;
  display: flex;
  background: #F0F5F7;
}

.left_24 {
  width: 45%;
  height: 300px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center
}

.right_24 {
  width: 60%;
  height: 200px;
  background-color: rgb(101, 189, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
}

.left_25 {
  width: 45%;
  height: 300px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
}

.right_25 {
  width: 60%;
  height: 200px;
  background-color: rgb(189, 178, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
}

@media screen and (max-width: 768px) {
  .attuppleva_1 {
    flex-direction: column;
    width:100%;
    height: 520px;
    margin: 0 auto;
  }

  .left_21 {
    width: 90%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_21 {
    width: 70%;
    margin: 0;
    min-height: 10px;
    margin-top: -100px;
    margin-bottom: 20px;
  }

  .attuppleva_2 {
    height: 780px;
    flex-direction: column;
    width:100%;
    margin: 0 auto;
  }

  .left_22 {
    width: 90%;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_22 {
    width: 60%;
    height: 150px;
    margin: 0;
    min-height: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .left_23 {
    width: 90%;
    height: 200px;
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_23 {
    width: 60%;
    height: 150px;
    margin: 0;
    min-height: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .attuppleva_3 {
    height: 750px;
    flex-direction: column;
    width:100%;
    margin: 0 auto;
  }

  .left_24 {
    width: 90%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_24 {
    width: 60%;
    height: 150px;
    margin: 0;
    min-height: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .left_25 {
    width: 90%;
    height: 200px;
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_25 {
    width: 60%;
    height: 150px;
    margin: 0;
    min-height: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
  }

}


/* Res Hit section */

.header_3 {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reshit_1 {
  width: 100%;
  height: 530px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #86B1CD;
}

.left_31 {
  width: 90%;
  height: 500px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.right_31 {
  width: 50%;
  min-height: 400px;
  background-color: #002F46;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
  margin-right: 20px;
}

.right_31 h1 {
  font-size: 40px;
  font-weight: lighter;
}

.right_31 p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.reshit_2 {
  min-height: 100%;
  width: 100%;
  display: flex;
  background: #F0F5F7;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 300px 150px 300px;

  grid-template-areas:
      "r2 r2 r2"
      "r3 r4 r5"
      "r6 r6 r6"
      "r7 r8 r9"
  ;
}

.left_32 {
  background: white;
  height: 70px;
  width: 16.6%;
  grid-area: r2;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  outline: dashed 1px black;
  margin: 0 auto;
}

.left_33 {
  background: white;
  height: 150px;
  width: 60%;
  grid-area: r3;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  outline: solid 1px black;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3 ease-out;
}

a:hover {
  color: #707070;
  transition: 0.3 ease-out;
}

.left_34 {
  background: white;
  height: 150px;
  width: 60%;
  grid-area: r4;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  outline: solid 1px black;
  margin: 0 auto;
}

.left_35 {
  background: white;
  height: 150px;
  width: 60%;
  grid-area: r5;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  outline: solid 1px black;
  margin: 0 auto;
}

.left_36 {
  background: white;
  height: 70px;
  width: 16.6%;
  grid-area: r6;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  outline: dashed 1px black;
  margin: 0 auto;
}

.left_37 {
  background: white;
  height: 150px;
  width: 60%;
  grid-area: r7;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  outline: solid 1px black;
  margin: 0 auto;
}

.left_38 {
  background: white;
  height: 150px;
  width: 60%;
  grid-area: r8;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  outline: solid 1px black;
  margin: 0 auto;
}

.left_39 {
  background: white;
  height: 150px;
  width: 60%;
  grid-area: r9;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  outline: solid 1px black;
  margin: 0 auto;
}

.left_310 {
  display: none;
}

.left_311 {
  display: none;
}

@media screen and (max-width: 768px) {
  .reshit_1 {
    flex-direction: column;
    width:100%;
    height: 520px;
    margin: 0 auto;
  }

  .left_31 {
    width: 90%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
  }

  .right_31 {
    width: 70%;
    margin: 0;
    min-height: 10px;
    margin-top: -100px;
    margin-bottom: 20px;
  }

  .reshit_2 {
    min-height: 100%;
    width: 100%;
    display: flex;
    background: #F0F5F7;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 280px 150px 280px;
    grid-template-areas:
      "r2"
      "l0"
      "r6"
      "l1"
  }

  .left_32 {
    height: 70px;
    width: 50%;
    margin-top: 40px
  }

  .left_36 {
    height: 70px;
    width: 50%;
    margin-top: 0px;
  }
  .left_33 {
    display: none;
  }

  .left_34 {
    display: none;
  }

  .left_35 {
    display: none;
  }

  .left_37 {
    display: none;
  }

  .left_38 {
    display: none;
  }

  .left_39 {
    display: none;
  }

  .left_310 {
    display: flex;
    background: white;
    height: 200px;
    width: 60%;
    grid-area: l0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    outline: solid 1px black;
    margin: 0 auto;
  }

  .left_311 {
    display: flex;
    background: white;
    height: 200px;
    width: 60%;
    grid-area: l1;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    outline: solid 1px black;
    margin: 0 auto;
    margin-top: -90px
  }
}

/* Att äta section */

.header_4 {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attata_1 {
  width: 100%;
  height: 530px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #86B1CD;
}

.left_41 {
  width: 90%;
  height: 500px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.right_41 {
  width: 50%;
  min-height: 400px;
  background-color: #002F46;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
  margin-right: 20px;
}

.right_41 h1 {
  font-size: 40px;
  font-weight: lighter;
}

.right_41 p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.attata_2 {
  min-height: 100%;
  width: 100%;
  display: flex;
  background: #F0F5F7;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px 400px;

  grid-template-areas:
      "f2 f3"
      "f4 f5"
      "f6 f7"
  ;
}

.left_42 {
  background: url(../img/hus.jpg) no-repeat center / cover;
  height: 300px;
  width: 80%;
  grid-area: f2;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
}

.left_43 {
  background: white;
  height: 250px;
  width: 70%;
  grid-area: f3;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
}

.left_44 {
  background: white;
  height: 250px;
  width: 70%;
  grid-area: f4;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
}

.left_45 {
  background: url(../img/hus.jpg) no-repeat center / cover;
  height: 300px;
  width: 80%;
  grid-area: f5;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
}

.left_46 {
  background: url(../img/hus.jpg) no-repeat center / cover;
  height: 300px;
  width: 80%;
  grid-area: f6;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
}

.left_47 {
  background: white;
  height: 250px;
  width: 70%;
  grid-area: f7;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .attata_1 {
    flex-direction: column;
    width:100%;
    height: 520px;
    margin: 0 auto;

  }

  .left_41 {
    width: 90%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_41 {
    width: 70%;
    margin: 0;
    min-height: 10px;
    margin-top: -100px;
    margin-bottom: 20px;
  }

  .attata_2 {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 200px 320px 260px 250px;

    grid-template-areas:
        "f2"
        "f3"
        "f5"
        "f4"
        "f6"
        "f7"
  ;
  }

  .left_42 {
    margin-top: 80px;
  }

  .left_43 {
    height: ;
    width: 60%;
    margin-top: -100px;
  }

  .left_44 {
    height: ;
    width: 60%;
    margin-top: -45px;
    z-index: 1;
  }

  .left_45 {
    height: ;
    width: ;
    margin-top: 30px;
  }

  .left_46 {
    height: ;
    width: ;
    margin-top: ;
  }

  .left_47 {
    height: ;
    width: 60%;
    margin-top: -100px;
  }
}


/* Våra stränder section */

.header_5 {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.varastrander_1 {
  width: 100%;
  height: 530px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #86B1CD;
}

.left_51 {
  width: 90%;
  height: 500px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.right_51 {
  width: 50%;
  min-height: 400px;
  background-color: #002F46;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
  margin-right: 20px;
}

.right_51 h1 {
  font-size: 40px;
  font-weight: lighter;
}

.right_51 p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.varastrander_2 {
  width: 100%;
  height: 530px;
  max-width: 100%;
  display: flex;
  background: #F0F5F7;
}

.left_52 {
  width: 45%;
  height: 300px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center
}

.right_52 {
  width: 60%;
  height: 200px;
  background-color: rgb(101, 189, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
}

.left_53 {
  width: 45%;
  height: 300px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
}

.right_53 {
  width: 60%;
  height: 200px;
  background-color: rgb(189, 178, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
}

.varastrander_3 {
  width: 100%;
  height: 530px;
  max-width: 100%;
  display: flex;
  background: #F0F5F7;
}

.left_54 {
  width: 45%;
  height: 300px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center
}

.right_54 {
  width: 60%;
  height: 200px;
  background-color: rgb(101, 189, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
}

.left_55 {
  width: 45%;
  height: 300px;
  background: url(../img/hus.jpg) no-repeat center / cover;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
}

.right_55 {
  width: 60%;
  height: 200px;
  background-color: rgb(189, 178, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
}

@media screen and (max-width: 768px) {
  .varastrander_1 {
    flex-direction: column;
    width:100%;
    height: 520px;
    margin: 0 auto;
  }

  .left_51 {
    width: 90%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_51 {
    width: 70%;
    margin: 0;
    min-height: 10px;
    margin-top: -100px;
    margin-bottom: 20px;
  }

  .varastrander_2 {
    height: 780px;
    flex-direction: column;
    width:100%;
    margin: 0 auto;
  }

  .left_52 {
    width: 90%;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_52 {
    width: 60%;
    height: 150px;
    margin: 0;
    min-height: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .left_53 {
    width: 90%;
    height: 200px;
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_53 {
    width: 60%;
    height: 150px;
    margin: 0;
    min-height: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .varastrander_3 {
    height: 780px;
    flex-direction: column;
    width:100%;
    margin: 0 auto;
  }

  .left_54 {
    width: 90%;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_54 {
    width: 60%;
    height: 150px;
    margin: 0;
    min-height: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .left_55 {
    width: 90%;
    height: 200px;
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right_55 {
    width: 60%;
    height: 150px;
    margin: 0;
    min-height: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
  }
}


/* Footer CSS */
.footer__container {
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: fo;
  }
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
  }
  
  .footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
  }
  
  .footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3 ease-out;
  }
  
  .social__icon--link {
    color: #fff;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .website__rights {
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }